{% assign page_title = image.name %}
{% assign meta_description = image.description | default: "View this image on theatr.us gallery" | strip_html | truncate: 160 %}

{% comment %} Open Graph tags for image {% endcomment %}
{% assign og_title = image.name %}
{% assign og_description = meta_description %}
{% assign og_image = base_url | append: image.gallery_url %}
{% if image.dimensions %}
    {% assign og_image_width = image.dimensions[0] %}
    {% assign og_image_height = image.dimensions[1] %}
{% endif %}
{% assign og_type = "article" %}
{% assign og_url = base_url | append: gallery_url | append: "/detail/" | append: image.path %}

{% comment %} Twitter Card tags {% endcomment %}
{% assign twitter_card_type = "summary_large_image" %}
{% assign twitter_title = image.name %}
{% assign twitter_description = meta_description %}
{% assign twitter_image = og_image %}
{% assign page_css = "image-detail.css" | split: "," %}

{% include "_header.html.liquid" %}

<div class="container container-lg image-detail-container">

    <!-- React Image Detail Mount Point -->
    <div id="react-image-detail" 
         data-gallery-url="{{ gallery_url }}"
         data-hide-metadata="{{ hide_technical_details }}"></div>

    <!-- Embedded JSON data for React component -->
    <script type="application/json" id="image-detail-data">
    {{ image_detail_json }}
    </script>
</div>


<!-- React Component Loading -->
<script type="module" src="{{ "dist/image-detail.js" | asset_url }}"></script>

{% include "_footer.html.liquid" %}
